
/* Selector Universal */

*{
    background-color: pink;
    margin: 10px;
}


/* Selector de etiqueta */

h4{

color: red;
background-color: blueviolet;
}

/* Selector de clase */

.hola{

    color: aqua;
    background-color: black;
}
#chau{

    color: brown;
    background-color: antiquewhite;
}
